@import url(./base.css);
@import url(./social.css);

.hidden {
    color: transparent;
}

body {
    background-image: url(../assets/img/3215521.png);
    color: #fff;
    font-family: "SF Pixelate", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: var(--shadow);
}
main {
    width: 720px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #d95d39;
    border-radius: 35px;
    padding: 10px;
    padding-bottom: 40px;
    background-color: var(--transparency-color);
}
a {
    color: #fff;
}
canvas {
    width: 200px;
}
.game {
    width: 560px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#wordContainer {
    margin-top: 20px;
}

.letter {
    margin: 0 7px;
    position: relative;
    text-align: center;
}

.letter::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    min-width: 12px;
}
#usedLetters {
    height: 10px;
}
#startButton {
    margin-top: 20px;
    appearance: none;
    font-family: var(--font-family-body);
    border: none;
    width: 300px;
    padding: 10px;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.end-game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--secondary-color);
    padding: 20px;
    position: relative;
    top: -200px;
    background-color: var(--primary-color);
}
.help {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-shadow: var(--shadow);
}
.how-play {
    width: 320px;
    padding: 40px;
    text-align: center;
}
.add-words {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 240px;
}
input {
    margin: 20px 0;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    padding-left: 25px;
    font-size: 24px;
}
.add-word-input{
    width: 120px;
    margin: 20px 0;
    height: 20px;
    border-radius: 12px;
    padding-left: 10px;
}
.interface {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.-button {
    appearance: none;
    font-family: var(--font-family-body);
    border: none;
    width: 120;
    padding: 10px;
    background-color: var(--secondary-color);
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}
/* .bubble-text-div {
    position: absolute;
    top: 21%;
    left: 62%;
    transition: .3s;
}
.img-bubble {
    width: 240px;
}
.text-bubble {
    width: 180px;
    font-size: 9px;
    position: absolute;
    top: 2px;
    left: 65px;
    color: black;
    font-weight: bold;
    text-shadow: none;
} */
@media (max-width: 1044px) {
    main {
        width: 420px;
        flex-direction: column-reverse;
    }
    .game {
        width: 360px;
        margin: 0 auto;
    }
}
@media (max-width: 470px) {
    main {
        width: 280px;

    }
    .game {
        width: 220px;
        margin: 0 auto;
    }
    .how-play{
        width: 280px;
        font-size: 12px;
    }
    footer {
        width: 100%;
        font-size: .8em;
        overflow: scroll;
    }
    .social-me {
        width: 280px;

    }
}
@media (max-width: 360px) {
    
}